:root {
  --peach: #fff1e8;
  --pink: #fdaba2;
  --purple: #675baa;
}

html,body {
  background: var(--peach);
  color: var(--purple);
}

button, input {
  font-family: monospace;
  font-size: 1.25em;
}

button, input[type=submit] {
  background: var(--purple);
  border: none;
  border-radius: 2px;
  color: var(--peach);
  filter: drop-shadow(2px 2px 0 var(--pink));
  padding: auto 0.5em;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
}
button:active, input[type=submit]:active {
  filter: none;
  transform: translate(2px, 2px);
}

.app {
  font-family: monospace;
  max-width: 800px;
  margin: 3em auto;
}

.todo-item {
  margin: 1em auto;
}
